# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build output
dist/
build/
output.css

# TypeScript
*.tsbuildinfo
*.jsx
*.map

# Vite
.vite/

# Tailwind CSS
src/output.css

# Tauri
src-tauri/target/
src-tauri/target/release/

# Operating System files
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log

# Temporary files
tmp/
temp/

# Coverage directory used by tools like istanbul
coverage/

# Other
*.bak
*.swp
*.key